.canvas {
  overflow-y: auto;
  display: block;
  width: 200px;
  max-height: 200px;
  background-color: #abc;
  position: relative;
  margin: 0;
  padding:0;
}
div.renderer {
  display: block;
  width: 100%;
  cursor: pointer;
  position: absolute;
  height: 30px;
  line-height: 30px;
  background-color: aquamarine;
  span {
    margin-left: 10px;
  }

  &.selected {
    background-color: #eda;
  }
  &.hover {
    background-color: #666;
    color: white;
  }
}
